:root {
    --page-bg: #545571;
}

body {
    background-color: var(--page-bg);
    font-family: 'Montserrat', sans-serif;
    color:#fff;
}

h1,h2,h3 {
    font-family: 'Sen', sans-serif;
    font-weight: bolder;
}

.main-content {
    text-align: center;
}